<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static%}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous"> 
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <title>para | Welcome </title>
</head>
<body>
    <div class="wrapper">
        <div class="head">
            <div class="pure-menu pure-menu-horizontal">
                <ul class="pure-menu-heading pure-menu-list">
                    <li class="pure-menu-item">
                        <img id="logo"src="{% static 'img/para-logo.png' %}" alt="logo">
                    </li>
                    <li class="pure-menu-item">
                        <a href="/about_us" class="pure-menu-link">About Us</a>
                    </li>
                    <li class="pure-menu-item">
                        <a href="/press" class="pure-menu-link">Press</a>
                    </li>
                    <li class="pure-menu-item">
                        <a href="/testemonies" class="pure-menu-link">Testemonies</a>
                    </li>
                    <li class="pure-menu-item">
                        <a href="#" class="pure-menu-link">FAQ</a>
                    </li>
                    <li class="pure-menu-item">
                        <a href="#" class="pure-menu-link">Contact</a>
                    </li>
                    <li class="pure-menu-item">
                      <a href="/download" class="pure-menu-link">Download</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="body">
            <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="false">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active" style="height:500px;"data-bs-interval="false">
                    <img id="img_1"src="{% static 'img/para-main.png' %}" class="d-block img" alt="IMG 1">
                    <a href="https://play.google.com/store/apps/details?id=com.paramobile" target="_blank"><img id="g-store" src="{% static 'img/google-store-logo.png' %}" alt=""></a>
                    <a href="https://apps.apple.com/us/app/para-your-gig-hq/id1548322258"><img id="ios-store" src="{% static 'img/ios-store-logo.png' %}" alt=""></a>
                    <h4 id="or-statement">-OR-</h4>
                    <form id="phone-number" action="/index-2">
                      <input type="tel">
                      <button type="submit">Text Me</button>
                    </form>
                  </div>
                  <div class="carousel-item" data-bs-interval="false">
                    <img src="{% static 'img/girl-phone-mask.jpg' %}" class="d-block img" alt="IMG 2">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Welcome to your Gig HQ</h5>
                        <p>Effortlessly manage your gig work and find new gigs</p>
                    </div>
                  </div>
                  <div class="carousel-item" data-bs-interval="false">
                    <img src="{% static 'img/man-phone-mask.jpg' %}" class="d-block  img" alt="IMG 3">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Make more money</h5>
                      <p>More money is flexability in life</p>
                    </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
    </div>
</body>
<footer>
    <p>para LLC | <a href="#">Contact Us</a></p>
</footer>
</html>